<h2>Liste des clients</h2>
<a class="btn-add" routerLink="/clients/new">
  + Ajouter un client
</a>

<p>Nombre de clients : {{ clients().length }}</p>z
<p>Nombre de clients : {{ clients().length }}</p>
<table>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Email</th>
    <th>Téléphone</th>
    <th>Actions</th> <!-- <-- Ajout -->
  </tr>
  </thead>
  <tbody>
  @for (client of clients(); track client.id) {
  <tr>
    <td>{{ client.lastName }}</td>
    <td>{{ client.firstName }}</td>
    <td>{{ client.email }}</td>
    <td>{{ client.phoneNumber }}</td>
    <td>
      <button [routerLink]="['/clients', client.id]">Détails</button> <!-- <-- Ajout -->
    </td>
  </tr>
  }
  </tbody>
</table>
